body, html, .mm-page {
  width: 100%;
  height: 100%; }

p {
  margin: 0; }

.bold {
  font-weight: bold; }

.text-left {
  text-align: left; }

.fade {
  opacity: .5; }

.media-contact {
  width: 100%;
  height: 100%; }
  .media-contact a {
    color: black; }
  @media (max-width: 1000px) {
    .media-contact {
      display: none; } }

.container {
  width: 80%; }

.media-module {
  width: 100%;
  height: 100%; }
  .media-module .container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 70px auto;
    padding: 60px 0;
    border-top: solid black thin;
    border-bottom: solid gray thin; }
  .media-module .media-column-left {
    float: left;
    width: 40%;
    height: 100%; }
  .media-module .media-column-right {
    float: right;
    width: 45%;
    height: 100%; }
  .media-module .title-subscript {
    font-size: 1.5rem; }
  .media-module .fine-print {
    margin-top: 20px; }
  @media (max-width: 1000px) {
    .media-module {
      height: auto;
      margin-bottom: 50px;
      margin-top: 50px; }
      .media-module .container {
        height: auto; }
      .media-module .media-column-right {
        display: none;
        float: none; }
      .media-module .media-column-left {
        width: 100%;
        float: none; } }

.asset-arrangement-row {
  width: 100%;
  overflow: auto; }
  .asset-arrangement-row div {
    background-color: white;
    background-size: cover;
    background-position: center; }

.media-square-large {
  width: 65%; }

.media-square-thumb {
  width: 15%; }

.media-rectangle-thumb {
  width: 7%; }

.media-rectangle-large {
  width: 33%; }

.top-row .media-square-large {
  float: left; }
.top-row .media-square-thumb {
  float: left;
  margin-left: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2% 2% 0;
  background-clip: content-box; }
.top-row .media-rectangle-thumb {
  float: left;
  margin-top: 2.25%; }
.top-row .media-rectangle-large {
  float: right; }

.bottom-row .media-rectangle-large {
  float: left;
  margin-top: 2%; }
.bottom-row .media-square-large {
  float: right;
  margin-top: 2%; }

.media-download-button {
  width: 280px;
  height: 48px;
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 77%; }
  .media-download-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2.2rem; }

.media-download-info {
  position: absolute;
  right: 0;
  top: 83%;
  text-align: right;
  font-family: 'HelveticaNeue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: gray;
  font-size: .9rem; }

.brand-left {
  float: left; }

.brand-right {
  float: right; }

.brand-padding-right {
  padding-right: 16px; }

.brand-half-padding-right {
  padding-right: 8px; }

.brand-half-padding-left {
  padding-left: 8px; }

.brand-dark {
  background-color: #2a2b2a; }
  .brand-dark p {
    color: #e6e8e9; }

.brand-light {
  background-color: #e6e8e9; }
  .brand-light p {
    color: #2a2b2a; }
  .brand-light a {
    color: #2a2b2a; }

.brand-dim {
  background-color: #727376; }

.brand-container {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }
  .brand-container .container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-top: 120px;
    overflow: auto; }
    .brand-container .container div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-clip: content-box;
      margin-bottom: 16px;
      position: relative; }
    @media (max-width: 700px) {
      .brand-container .container {
        width: 90%; } }
  .brand-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    font-family: "HelveticaNeue", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center; }
    @media (max-width: 1000px) {
      .brand-container p {
        font-size: 1.2rem; } }
    @media (max-width: 1000px) {
      .brand-container p {
        font-size: .9rem; } }

.brand-logo-description {
  width: 60%;
  height: 200px; }

.brand-logo-container {
  width: 40%;
  height: 200px; }
  .brand-logo-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%; }

.brand-logo-caps {
  width: 100%;
  height: 100px;
  clear: both; }
  .brand-logo-caps p {
    font-family: "HelveticaNeueLight", "Helvetica-Neue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.brand-font-large {
  width: 60%;
  height: 500px; }
  .brand-font-large img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%; }
  @media (max-width: 1000px) {
    .brand-font-large {
      height: 300px; } }

.brand-font-small {
  width: 40%;
  height: 500px; }
  .brand-font-small img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 67%; }
  @media (max-width: 1000px) {
    .brand-font-small {
      height: 300px; } }

.brand-color-block {
  width: 100%;
  clear: both;
  height: 200px; }
  .brand-color-block img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 30%; }
    @media (max-width: 1000px) {
      .brand-color-block img {
        height: auto;
        width: 70%; } }

.brand-mid-titles {
  width: 50%;
  height: 100px; }

.brand-ad-examples, .brand-abstract-logo-container {
  width: 50%;
  height: 400px;
  background-size: cover;
  background-position: center; }
  @media (max-width: 1000px) {
    .brand-ad-examples, .brand-abstract-logo-container {
      height: 200px; } }

.brand-slogan {
  width: 100%;
  height: 450px;
  clear: both; }
  .brand-slogan img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%; }

.brand-abstract-logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%; }

.brand-abstract-logo-description {
  width: 50%;
  height: 150px; }

@media (max-width: 1000px) {
  #media-contact-mobile {
    display: none; } }

#mobile-mast {
  background-color: rgba(255, 255, 255, 0.9); }

@media (max-width: 1000px) {
  #store-module {
    display: none; } }

.mobile-media-section-button {
  font-family: "HelveticaNeueLight", "Helvetica-Neue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  width: 80%;
  margin: 30px auto 70px auto;
  background-color: gray;
  padding: 15px 0;
  text-align: center; }
  @media (min-width: 1000px) {
    .mobile-media-section-button {
      display: none; } }
